body {
    /* background-image: url("https://res.cloudinary.com/sdawson/image/upload/v1523840103/keith-haring_wmtf36.jpg"); */

}
/* header */
.jumbotron {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgb(74, 141, 241);
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: Cantata One, Arial, Helvetica, sans-serif;
}

/* buttons */
button {
    margin: 0px 8px 0px 0px;

}

#topBtns {
    margin-right: 25px;
}



/* gifArea */
img {

    width: 200px;
    height: 200px;
    object-fit: cover;
    border-style: solid;
    clear: both;
    flex-wrap: wrap;
    margin-right: 3px;
}

#gifArea {
	clear: both;
	display: inline;
    flex-wrap: wrap;
    margin-left: -10px;
    display: inline-block
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    margin-top: 5px;
    font-weight: bold;


}

.gifContainer{
    float: left;
}

/* search area */
#submitBtn {
    margin-top: 5px;
}

/* footer */
.footer {
    font-family: 'Coming Soon', cursive, 'Times New Roman', Times, serif;
    position: absolute;
    font-size: 15px;
    clear:both;
    text-align: center;
    margin-top: 280px;
    margin-left: 540px;
}