body {
    /* background-image: url("https://res.cloudinary.com/sdawson/image/upload/v1523840103/keith-haring_wmtf36.jpg"); */

}
/* header */
.jumbotron {
    margin-top: -30px;

}
h2 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: Cantata One, Arial, Helvetica, sans-serif;
}

/* buttons */
button {
    margin: 5px 10px 0px 0px;
}



/* gifArea */
img {
    margin:10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-style: solid;
    clear: both;
	display: inline;
    flex-wrap: wrap;
}

#gifArea {
	clear: both;
	display: inline;
	flex-wrap: wrap;
}

/* search area */
#submitBtn {
    margin-top: 5px;
}

/* footer */
.footer {
    font-family: 'Coming Soon', cursive, 'Times New Roman', Times, serif;
    position: absolute;
    font-size: 15px;
    clear:both;
    text-align: center;
    margin-top: 230px;
    margin-left: 450px;
}